<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @author.description %>
</p>

Books:
<ul>
<% @books.each do |book| %>
  <li><%= link_to book.name, book %></li>
<% end %>
</ul>

<% if current_user.is_admin? %>
  <%= link_to 'Edit', edit_author_path(@author) %>
<% end %>
<%= link_to 'Back', authors_path %>
