<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

Books:
<ul>
<% @books.each do |book| %>
  <li><%= link_to book.name, book %></li>
<% end %>
</ul>

<% if current_user.is_admin? %>
  <%= link_to 'Edit', edit_category_path(@category) %>
<% end %>
<%= link_to 'Back', categories_path %>
